/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#navbarSite a {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  font-style: initial;
  color: rgb(255, 255, 255);
  border: 2.5px solid rgb(255, 255, 255);
  box-shadow: black 0px 0px 0px 0px;
  --menu-item-background: rgba(245, 248, 250, 0.5);
  --menu-item-background--hover: rgba(100, 111, 121, 0.148438);
  --menu-item-background-active: #f5f8faff;
  padding: 10px 35px;
  height: 50px;
  border-radius: 2px;
  background-color: rgba(16, 95, 128, 0.996);
}
.video iframe {
  width: 50%;
  height: 300px;
  position: relative;
}

.tituloText {
  font-size: 2rem;
}


#tratamento {
  border-radius: 0px;
  background: url(../assets/brand/urologia.png) center center / 100% 100%
    no-repeat fixed content-box rgb(255, 255, 255);
  height: 702px;
  min-height: 46px;
  border: 0px none rbg(0, 0, 0);
  
  white-space: nowrap;
  overflow: hidden;
  
}
